{% extends 'base.html' %}
{% load static %}
 {% block style %}
   <link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}
{% block main %}
<div class="site-wrap">
{% include "navbar.html" %}
<div class="page-top-info">
		<div class="container">
			<h4>Your Order</h4>
			<div class="site-pagination" style="padding-top: 20px;">
				<a href="{% url 'product' %}">Home</a> /
				<a href="">Orders</a>
			</div>
		</div>
  </div>
<div class="site-section">
<div class="container" style="margin-bottom: 40px;">
    <div class="card card-1">
        <div class="card-body">
            {% for order in order_item %}
            <div class="row mt-4">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <a href="{% url 'order_details' order.order.id %}">
                            <div class="media">
                                <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{order.product.image.url}}" width="150" height="150" /></div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col-md-4"> <small>{{order.product.name}} </small></div>
                                        <div class="col-md-4"> <small>&#8377;{{order.price_per_unit}}</small></div>
                                        <div class="col-md-4">
                                            {% if order.status == False %}
                                            <h6 class="mb-0" style="color: #26a541;">Processing...</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "footer.html" %}
</div>
{% endblock %}

