{% extends 'base.html' %}
{% load static %}
 {% block style %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
  {% endblock %}
{% block main %}
<div class="site-wrap">
{% include "navbar.html" %}

<div class="site-section">
<div class="container" style="margin-bottom: 40px;">

<div class="card card-1">
    <div class="card-header bg-white">
        <div class="media flex-sm-row flex-column-reverse justify-content-between ">
            <div class="col my-auto">
                <h3 class="mb-2">Thanks for your Order, <span class="change-color">{{request.user.username}}</span> !</h3>
            </div>  
        </div>
    </div>
<div class="card-body">
{% for order in order_id.order.all %}
    <div class="row mt-4">
        <div class="col">
            <div class="card card-2">
                <div class="card-body">
                    <div class="media">
                        <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{order.product.image.url}}" width="150" height="150" /></div>
                        <div class="media-body my-auto text-right">
                            <div class="row my-auto flex-column flex-md-row">
                                <div class="col-auto my-auto"> <small>{{order.product.name}} </small></div>
                                <div class="col my-auto"> <small>Price : {{order.price_per_unit}}</small></div>
                                <div class="col my-auto"> <small>Qty : {{order.quantity}}</small></div>
                                <div class="col my-auto">
                                    <h6 class="mb-0">&#8377;{{order.sub_total}}</h6>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<div class="row mt-4">
    <div class="col">
        <div class="row">
            <div class="col-md-9">
                <h4 class="mb-1 text-dark"><b>Order Details</b></h4>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5"><p class="mb-1"><b>Sub Total :</b></p></div>
                     <div class="col-md-7">&#8377;{{order_id.total}}</div>
                </div>
            </div> 
            <div class="col-md-9">
                 <p class="mb-1">Order Id : {{order_id.id}}</p>
            </div>
             <div class="col-3">
                 <div class="row">
                    <div class="col-md-5"><p class="mb-1"><b>Discount :</b></p></div>
                     {% if order_id.total_discount %}
                     <div class="col-md-7">&#8377;{{order_id.total_discount}}</div>
                {% else %}
                     <div class="col-md-7">&#8377;0.00</div>
                {% endif %}
                </div>
            </div>  
             <div class="col-md-9">
                 <p class="mb-1">Order Date : {{order_id.created_date_time|date:'F d, Y'}}</p>
            </div> 
            <div class="col-3">
                <div class="row">
                    <div class="col-md-5"><p class="mb-1"><b>Total :</b></p></div>
                     <div class="col-md-7">&#8377;{{order_id.sub_total}}</div>
                </div>
                 
            </div>
            
               
        </div>
    </div>
</div>


</div>
<div class="card-footer">
    <div class="jumbotron-fluid">
        <div class="row justify-content-between">
            <div class="col-auto my-auto ">
                <h2 class="mb-0 font-weight-bold">TOTAL PAID</h2>
            </div>
            <div class="col-auto my-auto ml-auto">
                <h1 class="display-3 ">&#8377; {{order_id.sub_total}}</h1>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
{% include "footer.html" %}
</div>
{% endblock %}

