
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/steppers.css' %}">  
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/font-awesome.min.css' %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script> 
</head>
<body> 
<div class="site-wrap">
    {% include "navbar.html" %}
  <div class="site-section" style="padding-top: 0;">
    <div class="container">
        <div class="md-stepper-horizontal orange" style="margin-bottom: 20px;">
<div class="md-step active">
  <div class="md-step-circle"><span>1</span></div>
  <div class="md-step-title">Shipping Address</div>
  <div class="md-step-bar-left"></div>
  <div class="md-step-bar-right"></div>
</div>
<div class="md-step active">
  <div class="md-step-circle"><span>2</span></div>
  <div class="md-step-title">Billing Address</div>
  <div class="md-step-bar-left"></div>
  <div class="md-step-bar-right"></div>
</div>
<div class="md-step active">
  <div class="md-step-circle"><span>3</span></div>
  <div class="md-step-title">Payment</div>
  <div class="md-step-bar-left"></div>
  <div class="md-step-bar-right"></div>
</div>
</div>
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" id="message_container" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %} 
        <div class="row">
          <div class="col-md-8 mb-5 mb-md-0">
            
            <div class="p-3 p-lg-5 border" style="padding-left:0px !important; padding-top: 0px !important; padding-right: 0px !important; box-shadow: 0 10px 10px -5px;">
            <h2 style="background-color: #2874f0; color: #fff; padding: 10px; font-size: 18px; font-weight: 500px;" class="h3 mb-3 text-black"><strong>Shipping Address</strong></h2> 
            <div style="padding-left: 30px; padding-top: 20px;">
              <div class="form-group">       
                  <h5>{{cart.shipping_address.first_name}} {{cart.shipping_address.last_name}}  {{cart.shipping_address.mobile}}</h5>
                  <p>{{cart.shipping_address.street}}, {{cart.shipping_address.city}}, {{cart.shipping_address.state}}, {{cart.shipping_address.zip_code}}</p>
                  <a class="btn btn-info btn-lg btn-block" href="{% url 'shipping_address' %}" style="width: 15%; background-color: #fb641b; height: 1%; color: #000;">Change</a>       
                <div >
              </div>
              </div>
            </div>
            
            </div>
            <div class="p-3 p-lg-5 border" style="padding-left:0px !important; padding-top: 0px !important; padding-right: 0px !important;  box-shadow: 0 10px 10px -5px;">
            <h2 class="h3 mb-3 text-black" style="background-color: #2874f0; color: #fff; padding: 10px; font-size: 18px; font-weight: 500px;" class="h3 mb-3 text-black"><strong>Billing Address</strong></h2>
            <div style="padding-left: 30px; padding-top: 20px;">
              <div class="form-group">       
                  <h5>{{cart.billing_address.first_name}} {{cart.billing_address.last_name}}  {{cart.billing_address.mobile}}</h5>
                  <p>{{cart.billing_address.street}}, {{cart.billing_address.city}}, {{cart.billing_address.state}}, {{cart.billing_address.zip_code}}</p>
                  <a class="btn btn-info btn-lg btn-block" href="{% url 'billing_address' %}" style="width: 15%; height: 1%; color: #000; background-color: #fb641b;">Change</a>       
                <div >
              </div>
              </div>
            </div>
            </div>
            
            <div class="p-3 p-lg-5 border" style="padding-left:0px !important; padding-top: 0px !important; padding-right: 0px !important; box-shadow: 0 10px 10px -5px;">
            <h2 class="h3 mb-3 text-black" style="background-color: #2874f0; color: #fff; padding: 10px; font-size: 18px; font-weight: 500px;"><strong>Payment</strong></h2>
            <div style="padding-left: 10px; padding-top: 10px;">
                 <form id="payment-form">
                  <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                  <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay <i class="fa fa-inr" aria-hidden="true"></i>{{cart.get_total}}</span>
                  </button>
                  <p id="card-error" role="alert"></p>
                  <p class="result-message hidden">
                   
                  </p>
                </form>
                  <form id="payload" class="hidden" action="/payment-complete" method="post">
                    {% csrf_token %}
                  <input id ="data-payload" type="hidden" name="payload"/>
                </form>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
            <div class="row mb-5">
              <div class="col-md-12">
                <div class="p-3 border" style="padding-left:0px !important; padding-top: 0px !important; padding-right: 0px !important; background-color: #f1f3f6; box-shadow: 0 10px 10px -5px;">
                  <h2 class="h3 mb-3 text-black" style="background-color: #2874f0; color: #fff; padding: 10px; font-size: 18px; font-weight: 500px; "><strong>Your Order</strong></h2>
                  <table class="table site-block-order-table" style="border: 0px !important;">
                    
                    <tbody>
                      <tr>
                        <td class="text-black" style="padding-top:50px;"><h6>Subtotal ({{cart.cart_item.all.count}} items)</h6></td>
                        <td class="text-black" style="padding-top:50px ;"><h6>&#8377;{{cart.get_sub_total}}</h6></td>
                      </tr>
                      {% if cart.coupon %}
                      <tr> 
                        <td class="text-black" ><h6>Promo Code<br>
                        <span style="color: rgb(132, 224, 123);">{{cart.coupon.code}}</span></h6></td>
                        <td class="text-black" style="color: rgb(132, 224, 123);"><h6><br>-&#8377;{{cart.total_discount}}</h6></td>
                      </tr>
                      {% endif %}
                      <tr style="border-bottom: 1px solid #dee2e6;"> 
                        <td class="text-black"><h5><strong>Total Payable</strong></h5></td>
                        <td class="text-black"><h5><strong>&#8377;{{cart.get_total}}</strong></h5></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>

      </div>
    </div>

      {% include "footer.html" %}
  </div>
    <script src="{% static 'js/client.js' %}"></script>
  	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>
<script>
  var message_ele = document.getElementById("message_container");
  setTimeout(function(){ 
    message_ele.style.display = "none"; 
  }, 5000);
</script>